@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-primarybg: #FAFAF8;
  --color-primarytext: #111111;
  --color-secondarytext: #555555;
  --color-accentone: #C9A227;
  --color-accenttwo: #6C4A73;
  --color-cardbg: #FFFFFF;
  --font-primary: 'Urbanist', sans-serif;
  --font-secondary: 'Playfair Display', serif;
}
.dark {
  --color-primarybg: #121212;
  --color-primarytext: #EAEAEA;
  --color-secondarytext: #BBBBBB;
  --color-accentone: #FFD700;
  --color-accenttwo: #6C4A73;
  --color-cardbg: #1B263B;
}

  .input{
    @apply text-lg w-full rounded-3xl shadow px-6 py-2 focus:outline-primarytext focus:outline-[0.8px] caret-primarytext dark:ring text-secondarytext
    invalid:border-accentone invalid:placeholder:text-accentone invalid:text-accentone
    min-w-0 max-w-full
    transition-all duration-300 ease-in-out
  }