@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-primarybg: #FAFAF8;
  --color-primarytext: #111111;
  --color-secondarytext: #555555;
  --color-accentone: #C9A227;
  --color-accenttwo: #6C4A73;
  --color-cardbg: #FFFFFF;
  --color-success: #16A34A;
  --color-danger: #DC2626;
  --color-alert: #D97706;
  --font-primary: 'Urbanist', sans-serif;
  --font-secondary: 'Playfair Display', serif;
  --breakpoint-xs: 30rem;
}
.dark {
  --color-primarybg: #121212;
  --color-primarytext: #EAEAEA;
  --color-secondarytext: #BBBBBB;
  --color-accentone: #FFD700;
  --color-accenttwo: #6C4A73;
  --color-cardbg: #1B263B;
  --color-success: #064E3B;
  --color-danger: #F87171;
  --color-alert: #FBBF24;
}

  .input{
    @apply text-lg w-full rounded-3xl shadow px-6 py-2 focus:outline-primarytext focus:outline-[0.8px] caret-primarytext dark:ring text-secondarytext
    invalid:border-accentone invalid:placeholder:text-accentone invalid:text-accentone
    min-w-0 max-w-full
    transition-all duration-300 ease-in-out
  }
    .admin-input{
    @apply text-lg w-full rounded-lg shadow px-6 py-2 focus:outline-primarytext focus:outline-[0.8px] caret-primarytext dark:ring text-secondarytext
    invalid:border-accentone invalid:placeholder:text-accentone invalid:text-accentone
    min-w-0 max-w-full
    transition-all duration-300 ease-in-out
  }
@keyframes spin-forward {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

@keyframes spin-backward {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@theme {
  --animate-spin-forward: spin-forward 0.4s linear 1;
  --animate-spin-backward: spin-backward 0.4s linear 1;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;              /* Thin scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;  /* Invisible track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.2); /* Semi-transparent thumb */
  border-radius: 9999px;    /* Rounded ends */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.4); /* Slightly darker on hover */
}

/* index.css or globals.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}